
    
        <section class="main-container padding-y bg-light">
          <div class="container">
          
          <!-- =================== COMPONENT CART+SUMMARY ====================== -->
          <div class="row">
            <div class="col-lg-9">
          
              <div class="card">
              <div class="content-body">
                <h4 class="card-title">{{ "cart.shopping" | translate }}</h4>
  
                <app-cart-product *ngFor="let cartItem of cartItems" [cartItem]="cartItem"></app-cart-product>
          
              </div> <!-- card-body .// -->
          
              <div class="address-card content-body">
                <p><i class="me-2 text-muted fa-lg fa fa-truck"></i>{{ "cart.delivery" | translate }}</p>
                <p class="text-muted" *ngIf="address.street else addressEmpty">{{address.street}} {{address.number}}/{{address.box}}, {{address.city}} {{address.postcode}}</p>
                <ng-template #addressEmpty>
                  {{ "cart.please" | translate }} <a [routerLink]="['/profile']">{{ "cart.profile" | translate }}</a>.
                </ng-template>  
              </div> <!-- card-body.// -->
          
              </div> <!-- card.// -->
          
            </div> <!-- col.// -->
            <aside class="col-lg-3">
          
              <div class="card">
              <div class="card-body">
                <dl class="dlist-align">
                  <dt>{{ "cart.totalPrice" | translate }}:</dt>
                  <dd class="text-end"> {{totalPrice}}€</dd>
                </dl>
                <dl class="dlist-align">
                  <dt>{{ "cart.discount" | translate }}:</dt>
                  <dd class="text-end text-success"> {{discount | number: '1.2-2'}}€ </dd>
                </dl>
                <dl class="dlist-align">
                  <dt>{{ "cart.tax" | translate }}:</dt>
                  <dd class="text-end"> {{tax | number: '1.2-2'}}€ </dd>
                </dl>
                <hr>
                <dl class="dlist-align">
                  <dt>{{ "cart.total" | translate }}:</dt>
                  <dd class="text-end text-dark h5"> {{total}}€ </dd>
                </dl>
                
                <div class="d-grid gap-2 my-3">
                  <a href="#" class="btn btn-success w-100"> {{ "cart.purchase" | translate }} </a>
                  <a href="#" class="btn btn-light w-100"> {{ "cart.back" | translate }} </a>
                </div>
              </div> <!-- card-body.// -->
              </div> <!-- card.// -->
          
            </aside> <!-- col.// -->
          
          </div> <!-- row.// -->
          <!-- =================== COMPONENT 1 CART+SUMMARY .//END  ====================== -->
          
          <br><br>
          
          </div> <!-- container .//  -->
          </section>
          <!-- ============== SECTION END// ============== -->