<mat-nav-list>
    <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon> <span class="nav-caption">{{ "nav.home" | translate }}</span>
    </a>
    <a mat-list-item routerLink="/burgers" (click)="onSidenavClose()">
        <mat-icon>fastfood</mat-icon> <span class="nav-caption">{{ "nav.fastfood" | translate }}</span>   
    </a>
    <mat-list-item [matMenuTriggerFor]="languageMenu">
        <mat-icon>flag</mat-icon>
        <a matline><span class="nav-caption">{{ siteLanguage }}</span></a>
    </mat-list-item>
    <mat-menu #languageMenu="matMenu">
      <ng-container *ngFor="let language of languageList">
        <button mat-menu-item (click)="changeSiteLanguage(language.code)" (click)="onSidenavClose()">
            {{ language.label }}
        </button>
      </ng-container>
    </mat-menu>
  </mat-nav-list>