<mat-nav-list>
    <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
    </a>
    <a mat-list-item routerLink="/owner" (click)="onSidenavClose()">
        <mat-icon>fastfood</mat-icon> <span class="nav-caption">Burger</span>   
    </a>
    <mat-list-item [matMenuTriggerFor]="languageMenu">
        <mat-icon>flag</mat-icon>
        <a matline><span class="nav-caption">Language</span></a>
    </mat-list-item>
    <mat-menu #languageMenu="matMenu">
        <button mat-menu-item (click)="onSidenavClose()">
            English
        </button>
        <button mat-menu-item (click)="onSidenavClose()">
            Français
        </button>
    </mat-menu>
  </mat-nav-list>