<article class="row gy-3 mb-4">
    <div class="col-lg-5">
      <figure class="itemside me-lg-5 d-flex">
        <div class="aside"><img src="{{ burger.imageUrl }}" class="img-sm img-thumbnail"></div>
        <figcaption class="info">
          <a href="#" class="title">{{ burger.name }}</a>
          <p class="text-muted"> {{ burger.description }} </p>
        </figcaption>
      </figure>
    </div>
    <div class="number-spinner col-lg-2 col-sm-4 col-6 d-flex mb-4" style="max-width: 300px">
        <button class="btn btn-primary px-2 me-2"
          onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
          <i class="fa fa-minus"></i>
        </button>

        <div class="form-outline">
          <input id="form1" min="0" name="quantity" value="1" type="number" class="form-control" />
        </div>

        <button class="btn btn-primary px-2 ms-2"
          onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
          <i class="fa fa-plus"></i>
        </button>
      </div>
      <!-- Quantity -->
    <div class="col-lg-2 col-sm-4 col-4">
      <div class="price-wrap lh-sm"> 
        <var class="price h6">{{totalPrice}}€</var>  <br>
        <small class="text-muted"> {{ burger.price }}€ per unit </small> 
      </div> <!-- price-wrap .// -->
    </div>
    <div class="col-lg col-sm-4 col-2">
      <div class="float-lg-end">
        <button class="btn btn-light text-danger">
          <i class="fa fa-times"></i>
        </button>
      </div>
    </div>
  </article> <!-- row.// -->