<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()" class="header-icon" aria-label="icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <span class="header-spacer"></span>
    <img id="logo" src={{imagePath}} />
    <span class="header-spacer"></span>
    <button mat-icon-button class="header-icon search-icon" aria-label="icon-button with search-icon">
      <mat-icon>search</mat-icon>
    </button>
    <button routerLink="/login" mat-icon-button class="header-icon person-icon" aria-label="icon-button with person-icon">
        <mat-icon>person</mat-icon>
      </button>
    <button routerLink="/cart" mat-icon-button class="header-icon shopping-cart-icon" aria-label="icon-button with shopping-cart-icon">
      <mat-icon>shopping_cart</mat-icon>
    </button>
  </mat-toolbar>
  <div class="color-line"></div>