<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#388E3C" fill-opacity="1" d="M0,224L48,234.7C96,245,192,267,288,261.3C384,256,480,224,576,192C672,160,768,128,864,144C960,160,1056,224,1152,234.7C1248,245,1344,203,1392,181.3L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>

<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>{{ "footer.social" | translate }}</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fa fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fa fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fa fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fa fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h4 class="text-uppercase fw-bold mb-4">
            Burger2Home
          </h4>
          <p>
            {{ "footer.slogan" | translate }}
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h4 class="text-uppercase fw-bold mb-4">
            {{ "footer.products" | translate }}
          </h4>
          <p>
            <a [routerLink]="['/home']" class="text-reset">{{ "footer.home" | translate }}</a>
          </p>
          <p>
            <a [routerLink]="['/burgers']" class="text-reset">{{ "footer.fastfood" | translate }}</a>
          </p>
          <p>
            <a [routerLink]="['/drinks']" class="text-reset">{{ "footer.drinks" | translate }}</a>
          </p>
          <p>
            <a [routerLink]="['/desserts']" class="text-reset">{{ "footer.desserts" | translate }}</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h4 class="text-uppercase fw-bold mb-4">
            {{ "footer.usefulLinks" | translate }}
          </h4>
          <p>
            <a [routerLink]="['/profile']" class="text-reset">{{ "footer.profile" | translate }}</a>
          </p>
          <p>
            <a [routerLink]="['/login']" class="text-reset">{{ "footer.login" | translate }}</a>
          </p>
          <p>
            <a [routerLink]="['/register']" class="text-reset">{{ "footer.register" | translate }}</a>
          </p>
          <p>
            <a [routerLink]="['/cart']" class="text-reset">{{ "footer.cart" | translate }}</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h4 class="text-uppercase fw-bold mb-4">
            Contact
          </h4>
          <p><i class="fa fa-home me-3"></i> Rue St Laurent 33, 4000 Liège</p>
          <p>
            <i class="fa fa-envelope me-3"></i>
            info@Burger2Home.com
          </p>
          <p><i class="fa fa-phone me-3"></i> + 01 234 567 88</p>
          <p><i class="fa fa-print me-3"></i> + 01 234 567 89</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2023 Copyright:
    <a class="text-reset fw-bold" href="#!">Burger2Home</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->